In [7]:
import pandas as pd

In [8]:
# importando os dados para uma variável. Os dados correspondem o caminho ao qual está o dataset com os valores
# dos imóveis
iowa_path = 'dados/train.csv'

# carregando os arquivos com o método read_csv do pandas

# dataframe = df

df = pd.read_csv(iowa_path)

#### Especificando alvo para predição

In [9]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [10]:
y = df.SalePrice

In [11]:
y.describe()

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [23]:
y.shape

(1460,)

#### Criando as Features

* LotArea
* YearBuilt
* 1stFlrSF
* 2ndFlrSF
* FullBath
* BedroomAbvGr
* TotRmsAbvGrd

In [12]:
features = 'LotArea YearBuilt 1stFlrSF 2ndFlrSF FullBath BedroomAbvGr TotRmsAbvGrd'.split()
features

['LotArea',
 'YearBuilt',
 '1stFlrSF',
 '2ndFlrSF',
 'FullBath',
 'BedroomAbvGr',
 'TotRmsAbvGrd']

In [13]:
X = df[features]

In [14]:
print('Imprimindo as 5 primeiras linhas de X')
X.head()

Imprimindo as 5 primeiras linhas de X

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [15]:
print('Descrição ou Estatística de X')
X.describe()

Descrição ou Estatística de X

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,1971.267808,1162.626712,346.992466,1.565068,2.866438,6.517808
std,9981.264932,30.202904,386.587738,436.528436,0.550916,0.815778,1.625393
min,1300.000000,1872.000000,334.000000,0.000000,0.000000,0.000000,2.000000
25%,7553.500000,1954.000000,882.000000,0.000000,1.000000,2.000000,5.000000
50%,9478.500000,1973.000000,1087.000000,0.000000,2.000000,3.000000,6.000000
75%,11601.500000,2000.000000,1391.250000,728.000000,2.000000,3.000000,7.000000
max,215245.000000,2010.000000,4692.000000,2065.000000,3.000000,8.000000,14.000000

In [24]:
X.shape

(1460, 7)

#### Criando um Modelo

In [16]:
from sklearn.tree import DecisionTreeRegressor

In [17]:
iowa_model = DecisionTreeRegressor(random_state=1)

iowa_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

#### Fazendo Predições

In [18]:
predictions = iowa_model.predict(X.head())

print('Predições:\n')
for p in predictions:
    print(p)

Predições:

208500.0
181500.0
223500.0
140000.0
250000.0

#### Comparando os resultados

In [19]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

#### Validando o Modelo

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 1)

iowa_model = DecisionTreeRegressor(random_state = 1)

iowa_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [26]:
print(f'{train_X.shape}\t{train_y.shape}\t\t{val_X.shape}\t{val_y.shape}')

(1095, 7)	(1095,)		(365, 7)	(365,)

In [16]:
val_predictions = iowa_model.predict(val_X)

print(val_predictions[0:5])

print(y.head().tolist())

[186500. 184000. 130000.  92000. 164500.]
[208500, 181500, 223500, 140000, 250000]

#### Calculando o Erro Médio Absoluto

In [17]:
from sklearn.metrics import mean_absolute_error

In [18]:
val_mae = mean_absolute_error(val_predictions, val_y)

print(val_mae)

29652.931506849316

Na descrição estatística da coluna alvo que são os valores de venda dos imóveis (y.describe()), o valor médio de venda dos 
imóveis é de 180.921.

O valor de erro médio absoluto é de 29.652, o que dá em torno de 16% do valor médio de venda. 

Em tese o modelo estaria com acerto de previsão em 84%.

#### Comparando os diferentes tamanhos de nós

In [19]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=1)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return mae

In [26]:
nodes = [5, 25, 50, 100, 250]

for max_leaf_nodes in nodes:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print('Max leaf nodes: {} \t\t Mean Absolute Error: {:.0f}'.format(max_leaf_nodes, my_mae))

Max leaf nodes: 5 		 Mean Absolute Error: 35045
Max leaf nodes: 25 		 Mean Absolute Error: 29016
Max leaf nodes: 50 		 Mean Absolute Error: 27406
Max leaf nodes: 100 		 Mean Absolute Error: 27283
Max leaf nodes: 250 		 Mean Absolute Error: 27431

In [28]:
best_tree_size = 100

final_model = DecisionTreeRegressor(max_leaf_nodes=best_tree_size, random_state=1)

final_model.fit(X, y)

DecisionTreeRegressor(max_leaf_nodes=100, random_state=1)

In [30]:
predictions = final_model.predict(X.head())

print('Predições: \n')
for p in predictions:
    print(f'{p:.0f}')

Predições:

209133.65384615384
146415.007518797
209133.65384615384
143297.46666666667
270325.0

In [31]:
# Comparando

y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64