In [34]:
import pandas as pd
from random import randint, choice
from functools import reduce

In [35]:
# Carros
# Utilizando somente dados numéricos por enquanto

# lista das grandezas
# Valor Base:
ano = 2010
motor = 1.0
valor = 10999
VB = [ano, motor]

# Valores aleatórios dos motores e anos
#m = [1.0, 1.6, 1.8, 2.0]
#y = randint(2010, 2020)
#mt = choice(m)
#VA = [y, mt]

# Função create_dict()
# o valor de X (carro) será obtido através de uma regra de três composta;
# no caso aqui vamos considerar que as grandezas são diretamente proporcionais.
# após calcular o valor de x, será criado um dicionário com estes novos dados.
# Quantidade de dados inseridos no dicionário:

def reg_three_comp(VB, VA, valor):
    
    a = reduce(lambda x, y: x * y, VB)
    b = reduce(lambda x, y: x * y, VA)
    
    X = (valor * b) / a
    
    return X


def create_dict(reg):
    
    years = []
    motors = []
    val = []
    auto = {}
    
    for i in range(0, reg):
        
        m = [1.0, 1.6, 1.8, 2.0]
        y = randint(2010, 2020)
        mt = choice(m)
        
        VA = [y, mt]
        
        x = round(reg_three_comp(VB, VA, valor))
        
        years.append(y)
        motors.append(mt)
        val.append(x)
        
        auto['ano'] = years
        auto['motor'] = motors
        auto['valor'] = val
        
    return auto

In [36]:
reg = 10000

In [37]:
registros = create_dict(reg)

In [38]:
type(registros)

dict

In [39]:
data = pd.DataFrame(registros)

In [40]:
type(data)

pandas.core.frame.DataFrame

In [33]:
data.head()

    ano  motor  valor
0  2013    2.0  22031
1  2016    2.0  22064
2  2011    2.0  22009
3  2012    1.6  17616
4  2017    2.0  22075

In [44]:
data.to_csv('dados/car_values.csv', encoding='utf-8')