In [1]:
from random import randint, uniform

In [17]:
# Carros
# Utilizando somente dados númericos por enquanto

# Lista de itens inerentes a qualidade de um carro comum

ano = []
motor = []
vl_venda = []
comb = []
camb = []

# Vamos fazer um database com uma quantidade de 10 carros

for i in range(0, 10):
    a = randint(2010, 2020)
    
    ano.append(a)
    
    m = uniform(1.0, 2.0)
    m = round(m, 1)
    
    motor.append(m)
    
    co = randint(0, 1)
    
    comb.append(co)
    
    ca = randint(0, 1)
    
    camb.append(ca)
    
    if a >= 2010 and a <= 2012:
        vl = randint(10000, 20000)
        vl_venda.append(vl)
        
    elif a >= 2013 and a <= 2015:
        vl = randint(21000, 30000)
        vl_venda.append(vl)
        
    elif a >= 2016 and a <= 2018:
        vl = randint(31000, 40000)
        vl_venda.append(vl)
        
    elif a >= 2019 and a <= 2020:
        vl = randint(41000, 50000)
        vl_venda.append(vl)

        
# criando um dataset

data = {
    'ano': ano,
    'motor': motor,
    'combustivel:E=0/G=1': comb,
    'cambio:A=0/M=1': camb,
    'valor_venda': vl_venda
}

In [18]:
# verificando o tipo de dado
type(data)

dict

In [19]:
for k, v in data.items():
    print(k, v)

ano [2020, 2017, 2012, 2017, 2019, 2014, 2015, 2013, 2020, 2016]
motor [1.3, 1.5, 1.4, 1.1, 1.4, 1.2, 1.1, 1.9, 2.0, 1.6]
combustivel:E=0/G=1 [1, 1, 0, 1, 0, 1, 1, 0, 0, 0]
cambio:A=0/M=1 [1, 1, 1, 0, 0, 1, 1, 0, 0, 1]
valor_venda [48980, 38826, 10743, 36095, 44098, 21164, 29586, 27762, 49986, 35732]

In [20]:
# importando biblioteca Pandas para manipulação destes dados
import pandas as pd

In [21]:
# criando um dataframe
df = pd.DataFrame(data)

In [22]:
# tipo de dado
type(df)

pandas.core.frame.DataFrame

In [23]:
# imprimindo o dataframe
df

    ano  motor  combustivel:E=0/G=1  cambio:A=0/M=1  valor_venda
0  2020    1.3                    1               1        48980
1  2017    1.5                    1               1        38826
2  2012    1.4                    0               1        10743
3  2017    1.1                    1               0        36095
4  2019    1.4                    0               0        44098
5  2014    1.2                    1               1        21164
6  2015    1.1                    1               1        29586
7  2013    1.9                    0               0        27762
8  2020    2.0                    0               0        49986
9  2016    1.6                    0               1        35732

Alvo: Valor de Venda

In [24]:
y = df.valor_venda

In [25]:
y.head()

0    48980
1    38826
2    10743
3    36095
4    44098
Name: valor_venda, dtype: int64

In [26]:
y.describe()

count       10.000000
mean     34297.200000
std      12363.768895
min      10743.000000
25%      28218.000000
50%      35913.500000
75%      42780.000000
max      49986.000000
Name: valor_venda, dtype: float64

In [27]:
print(f"Valor Médio de Venda: {df['valor_venda'].mean()}")

Valor Médio de Venda: 34297.2

##### Features

In [28]:
features = 'ano motor cambio:A=0/M=1'.split()

In [29]:
X = df[features]

In [30]:
X.head()

    ano  motor  cambio:A=0/M=1
0  2020    1.3               1
1  2017    1.5               1
2  2012    1.4               1
3  2017    1.1               0
4  2019    1.4               0

In [31]:
X.describe()

               ano      motor  cambio:A=0/M=1
count    10.000000  10.000000       10.000000
mean   2016.300000   1.450000        0.600000
std       2.830391   0.310018        0.516398
min    2012.000000   1.100000        0.000000
25%    2014.250000   1.225000        0.000000
50%    2016.500000   1.400000        1.000000
75%    2018.500000   1.575000        1.000000
max    2020.000000   2.000000        1.000000

#### Criando um Modelo de Previsão

In [32]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [33]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

model = DecisionTreeRegressor(random_state=1)

model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [34]:
predictions = model.predict(val_X)

predictions

array([27762., 38826., 21164.])

In [35]:
y.head(3)

0    48980
1    38826
2    10743
Name: valor_venda, dtype: int64