In [1]:
from random import randint, choice
from functools import reduce

In [62]:
# Carros
# Utilizando somente dados numéricos por enquanto

# lista das grandezas
# Valor Base:
ano = 2010
motor = 1.0
valor = 10999
VB = [ano, motor]

# Valores aleatórios dos motores e anos
#m = [1.0, 1.6, 1.8, 2.0]
#y = randint(2010, 2020)
#mt = choice(m)
#VA = [y, mt]

# Função create_dict()
# o valor de X (carro) será obtido através de uma regra de três composta;
# no caso aqui vamos considerar que as grandezas são diretamente proporcionais.
# após calcular o valor de x, será criado um dicionário com estes novos dados.
# Quantidade de dados inseridos no dicionário:

def reg_three_comp(VB, VA, valor):
    
    a = reduce(lambda x, y: x * y, VB)
    b = reduce(lambda x, y: x * y, VA)
    
    X = (valor * b) / a
    
    return X


def create_dict(qtde):
    
    years = []
    motors = []
    val = []
    auto = {}
    
    for i in range(0, qtde):
        
        m = [1.0, 1.6, 1.8, 2.0]
        y = randint(2010, 2020)
        mt = choice(m)
        
        VA = [y, mt]
        
        x = round(reg_three_comp(VB, VA, valor))
        
        years.append(y)
        motors.append(mt)
        val.append(x)
        
        auto['ano'] = years
        auto['motor'] = motors
        auto['valor'] = val
        
    return auto

In [63]:
qtde = int(input('Quantidade de dados a serem lançados: '))

Quantidade de dados a serem lançados:  10000

In [65]:
resultado = create_dict(qtde)

In [66]:
type(resultado)

dict

In [67]:
# importando biblioteca Pandas para manipulação destes dados
import pandas as pd

In [68]:
# criando um dataframe
data = pd.DataFrame(resultado)

In [69]:
# tipo de dado
type(data)

pandas.core.frame.DataFrame

In [70]:
# imprimindo o dataframe
data.head()

    ano  motor  valor
0  2020    2.0  22107
1  2014    2.0  22042
2  2016    1.6  17651
3  2015    2.0  22053
4  2017    1.6  17660

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ano     10000 non-null  int64
 1   motor   10000 non-null  float64
 2   valor   10000 non-null  int64
dtypes: float64(1), int64(2)
memory usage: 234.5 KB