In [3]:
from random import randint, uniform

In [66]:
# Carros
# Utilizando somente dados númericos por enquanto

# Lista de itens inerentes a qualidade de um carro comum

ano = []
motor = []
vl_venda = []
comb = []
camb = []

# Vamos fazer um database com uma quantidade de 10 carros

for i in range(0, 10):
    a = randint(2010, 2020)
    
    ano.append(a)
    
    m = uniform(1.0, 2.0)
    m = round(m, 1)
    
    motor.append(m)
    
    co = randint(0, 1)
    
    comb.append(co)
    
    ca = randint(0, 1)
    
    camb.append(ca)
    
    if a >= 2010 and a <= 2012 or m <= 1.3:
        vl = randint(10000, 20000)
        vl_venda.append(vl)
        
    elif a >= 2013 and a <= 2015 or m > 1.3 and m <= 1.6:
        vl = randint(21000, 30000)
        vl_venda.append(vl)
        
    elif a >= 2016 and a <= 2018 or m > 1.6 and m <= 1.8:
        vl = randint(31000, 40000)
        vl_venda.append(vl)
        
    elif a >= 2019 and a <= 2020 or m >= 1.8:
        vl = randint(41000, 50000)
        vl_venda.append(vl)

        
# criando um dataset

data = {
    'ano': ano,
    'motor': motor,
    'combustivel: E=0/G=1': comb,
    'cambio: A=0/M=1': camb,
    'valor_venda': vl_venda
}

In [67]:
# verificando o tipo de dado
type(data)

dict

In [68]:
for k, v in data.items():
    print(k, v)

ano [2012, 2011, 2016, 2018, 2010, 2010, 2018, 2010, 2016, 2017]
motor [1.3, 1.3, 2.0, 1.5, 1.1, 1.1, 1.2, 1.2, 1.9, 1.2]
combustivel: E=0/G=1 [0, 1, 1, 1, 1, 1, 1, 1, 1, 0]
cambio: A=0/M=1 [0, 0, 0, 0, 0, 0, 1, 0, 1, 1]
valor_venda [15795, 14025, 32869, 28061, 10220, 12643, 16985, 15424, 35678, 17226]

In [49]:
# importando biblioteca Pandas para manipulação destes dados
import pandas as pd

In [70]:
# criando um dataframe
df = pd.DataFrame(data)

In [71]:
# tipo de dado
type(df)

pandas.core.frame.DataFrame

In [72]:
# imprimindo o dataframe
df

    ano  motor  combustivel: E=0/G=1  cambio: A=0/M=1  valor_venda
0  2012    1.3                     0                0        15795
1  2011    1.3                     1                0        14025
2  2016    2.0                     1                0        32869
3  2018    1.5                     1                0        28061
4  2010    1.1                     1                0        10220
5  2010    1.1                     1                0        12643
6  2018    1.2                     1                1        16985
7  2010    1.2                     1                0        15424
8  2016    1.9                     1                1        35678
9  2017    1.2                     0                1        17226