In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
%matplotlib inline

In [49]:
FILE_PATH = 'dados/Dataset3.csv'

In [54]:
df = pd.read_csv(FILE_PATH, sep=';', encoding='utf-8')

In [55]:
print(df.info())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   No                                     51 non-null     int64
 1   Country                                51 non-null     object
 2   Level of development                   51 non-null     object
 3   European Union Membership              51 non-null     object
 4   Currency                               51 non-null     object
 5   Women Entrepreneurship Index           51 non-null     float64
 6   Entrepreneurship Index                 51 non-null     float64
 7   Inflation rate                         51 non-null     float64
 8   Female Labor Force Participation Rate  51 non-null     float64
dtypes: float64(4), int64(1), object(4)
memory usage: 3.7+ KB
None
(51, 9)

In [56]:
df.head()

,No,Country,Level of development,European Union Membership,Currency,Women Entrepreneurship Index,Entrepreneurship Index,Inflation rate,Female Labor Force Participation Rate
0,4,Austria,Developed,Member,Euro,54.9,64.9,0.90,67.1
1,6,Belgium,Developed,Member,Euro,63.6,65.5,0.60,58.0
2,17,Estonia,Developed,Member,Euro,55.4,60.2,-0.88,68.5
3,18,Finland,Developed,Member,Euro,66.4,65.7,-0.20,67.7
4,19,France,Developed,Member,Euro,68.8,67.3,0.00,60.6

In [57]:
df.tail()

,No,Country,Level of development,European Union Membership,Currency,Women Entrepreneurship Index,Entrepreneurship Index,Inflation rate,Female Labor Force Participation Rate
46,48,Saudi Arabia,Developing,Not Member,National Currency,37.0,49.6,1.20,13.00
47,57,Thailand,Developing,Not Member,National Currency,36.6,32.1,-0.90,62.00
48,58,Tunisia,Developing,Not Member,National Currency,30.7,35.5,4.80,25.19
49,59,Turkey,Developing,Not Member,National Currency,39.3,54.6,7.70,30.40
50,60,Uruguay,Developing,Not Member,National Currency,44.5,41.4,8.67,68.00